:root {
    --pink: #b8417c;
    --blue: #00bfff;
    --white: #ffffff;
    --green: #56b786;
}

.shoping-cart {
    background-color: var(--white);
    border: 2px solid var(--blue);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0, 2);
}

.shoping-cart h2 {
    color: var(--blue);
    text-align: center;
}

.shopping-cart ul {
    list-style: none;
    padding: 0;
}

.shoping-cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.shopping-cart image {
    width: 80px;
    border-radius: 8px;
}

.btn-pay {
    display: inline-block;
    background-color: #455aa0;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3 esase;
}

.btn-pay:hover {
    background-color: #187bcd;
}

.animate-in {
    animation: slideIn 3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: trasnlateY(0);
        opacity: 1;
    }
}